
@{
    ViewBag.Title = "About";
}
<div class="col-xs-6 col-xs-offset-3">
<h2 style="font-family:'lobster two';">InstaDate</h2>
<p style="font-family:'lobster two';">Welcome to InstaDate! What's so special about our instant dating site? We give you the functionality of a regular and boring dating site, but we include the ability to find a date whenever you want! </p>
    </div>